@using Telerik.Web.Mvc.UI;
@model ProjectManagement.Domain.tblChangePassword
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { id = "frmChangePassword", @class = "form-horizontal" }))
    {
        <div class="col-md-12 ui-sortable">
            <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Change Password</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Old Password<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.PasswordFor(model => model.OldPassword, new { @placeholder = "Old Password", @class = "form-control" , autofocus="autofocus" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">New Password<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.PasswordFor(model => model.NewPassword, new { @placeholder = "New Password", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Re-type Password<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.PasswordFor(model => model.ReTypePassword, new { @placeholder = "Re-type Password", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            <button class="btn btn-sm btn-success" type="submit">Update</button>
                            <button class="btn btn-sm btn-success" type="submit" onclick="document.location.href = '@Url.Action("Detail", "Profile")'">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Content/Script/Member.js"></script>
<script type="text/javascript">
    //ActivateSelectedMenu('menuAdminDefinition');
</script>
