@model List<ProjectManagement.Domain.tblReportDTO>
@{
    Layout = null;
    double crTotalAmount = 0;
    double drTotalAmount = 0;
    string crAmount = string.Empty;
    string drAmount = string.Empty;
    double openingBalance = ViewBag.OpeningBalance;
    string oBalanceString = string.Empty;
    string crClosingBalance = "0";
    string drClosingBalance = "0";
}
@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Vr No </th>
                <th>Mode Pvt</th>
                <th>Date</th>
                <th>Description</th>
                <th style="text-align: right; font-weight: bold">Credit</th>
                <th style="text-align: right; font-weight: bold">Debit</th>
            </tr>
            <tr style="text-align: right; font-weight: bold">
                <td colspan="4">Opening Balance</td>
                <td>
                    @if (openingBalance < 0)
                    {
                        oBalanceString = openingBalance.ToString();
                    }
                    else
                    {
                        oBalanceString = "0";
                    }
                    @oBalanceString
                </td>
                <td>
                    @if (openingBalance > 0)
                    {
                        oBalanceString = openingBalance.ToString();
                    }
                    else
                    {
                        oBalanceString = "0";
                    }
                    @oBalanceString
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var reportData in Model)
            {
                <tr>
                    <td>@reportData.VrNo</td>
                    <td>@string.Format("{0}-{1}", reportData.ModePaymentReceipt.Substring(0, 4), reportData.RecPay.Substring(0, 3))</td>
                    <td>@reportData.DDate.Value.ToString("dd-MM-yyyy")</td>
                    <td>@reportData.Description</td>
                    <td style="text-align: right">
                        @if (string.Compare(reportData.FromAccount, reportData.Supplier1Id, StringComparison.CurrentCultureIgnoreCase) != 0)
                        {
                            crAmount = reportData.Amount.ToString();
                            crTotalAmount = crTotalAmount + reportData.Amount ?? 0;
                        }
                        else
                        {
                            crAmount = "0";
                        }
                        @crAmount
                    </td>
                    <td style="text-align: right">
                        @if (string.Compare(reportData.ToAccount, reportData.Supplier1Id, StringComparison.CurrentCultureIgnoreCase) != 0)
                        {
                            drAmount = reportData.Amount.ToString();
                            drTotalAmount = drTotalAmount + reportData.Amount ?? 0;
                        }
                        else
                        {
                            drAmount = "0";
                        }

                        @drAmount
                    </td>
                </tr>
            }
            <tr style="text-align: right; font-weight: bold">
                <td colspan="4"></td>
                <td style="text-align: right">
                    @if (openingBalance < 0)
                    {
                        crTotalAmount = crTotalAmount + openingBalance;
                    }
                    @crTotalAmount.ToString()
                </td>
                <td>
                    @if (openingBalance > 0)
                    {
                        drTotalAmount = drTotalAmount + openingBalance;
                    }
                    @drTotalAmount.ToString()
                </td>
            </tr>
            <tr style="text-align: right; font-weight: bold">
                <td colspan="4">Closing Balance</td>
                <td>
                    @if ((drTotalAmount - crTotalAmount) > 0)
                    {
                        crClosingBalance = (drTotalAmount - crTotalAmount).ToString();
                    }
                    @crClosingBalance.ToString()
                </td>
                <td>
                    @if ((drTotalAmount - crTotalAmount) < 0)
                    {
                        drClosingBalance = (drTotalAmount - crTotalAmount).ToString();
                    }
                    @drClosingBalance.ToString()
                </td>
            </tr>
        </tbody>
    </table>
}