@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = ViewBag.TransactionType + "Book Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="~/Content/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">@ViewBag.TransactionType Book Listing</h4>
            </div>
            <input type="hidden" value="@ViewBag.TransactionType" name="TransactionType" id="TransactionType" />
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Start Date<span class="spanError">*</span></label>
                    <div class="col-md-3">
                        @Html.TextBox("StartDate", DateTime.Now.AddDays(-10).ToString("dd-MM-yyyy"), new { @placeholder = "Start Date", @class = "form-control datepicker", @autofocus = "autofocus" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">End Date<span class="spanError">*</span></label>
                    <div class="col-md-3">
                        @Html.TextBox("EndDate", DateTime.Now.ToString("dd-MM-yyyy"), new { @placeholder = "End Date", @class = "form-control datepicker", @autofocus = "autofocus" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-sm btn-success" onclick="OnTransactionEntrySearchClick()">Search</button>
                    </div>
                </div>
                <div class="form-group" style="padding: 20px">
                    @(Html.Telerik().Grid<ProjectManagement.Domain.Mat_AccountTwoDTO>().Name("ListTransactionEntryGrid")
                                        .DataKeys(datakKey => datakKey.Add(key => key.Ent_No))
                                        .DataBinding(dataBinding => dataBinding.Ajax().Select("ListTransactionEntryAjax", "TransactionEntry", new { @type = ViewBag.TransactionType, @startDate = DateTime.Now.AddDays(-10).ToString("dd-MM-yyyy"), @endDate = DateTime.Now.ToString("dd-MM-yyyy") }))
                        .Columns(columns =>
                        {
                            columns.Bound(column => column.Rec_Pay).Title("Mode");
                            columns.Bound(column => column.FromSupplierName).Title("From Account");
                            columns.Bound(column => column.ToSupplierName).Title("To Account");
                            columns.Bound(column => column.Ddate).Title("Date");
                            columns.Bound(column => column.Ammount).Title("Amount");
                            columns.Bound(column => column.Ent_No)
                                                            .Filterable(false)
                                                            .Sortable(false)
                                                            .Groupable(false)
                                                            .Width(50)
                                                            .Title(String.Empty)
                                                           .ClientTemplate("<center><a title='Edit' href=" + Url.Action("Save", "TransactionEntry", new { id = "<#= Ent_No #>", type = ViewBag.TransactionType }) + "><i class='fa fa-pencil'></i></a></center>");
                            columns.Bound(column => column.Ent_No)
                                                           .Filterable(false)
                                                           .Sortable(false)
                                                           .Groupable(false)
                                                           .Width(50)
                                                           .ClientTemplate("<center><a title='Delete'  onclick='DeleteTransactionEntry(\"<#= Ent_No #>\");'><i class='fa fa-trash-o'></i></a></center>")
                                                           .Title(string.Empty);
                        })
                        .ToolBar(commands => commands.Custom().Action("Save", "TransactionEntry", new { id = "", type = ViewBag.TransactionType })
                            .ButtonType(GridButtonType.Text)
                            .Text("Add Entry"))
                        .Sortable()
                        .Selectable()
                        .Filterable()
                        .ClientEvents(events => events.OnDataBinding("OnTransactionEntryDataBinding"))
                        .Scrollable(t => t.Height("auto"))
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Resizable(resizing => resizing.Columns(true))
                        .Pageable(paging => paging.PageSize(50).Enabled(true).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
                )
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>
<script src="~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/Script/TransactionEntry.js"></script>
<script type="text/javascript">
    $('.datepicker').datepicker({ format: 'dd-mm-yyyy', });
    ActivateSelectedMenu('menuTrancation');
</script>
