@using Telerik.Web.Mvc.UI;
@model ProjectManagement.Domain.Mat_AccountTwoDTO
@{
    ViewBag.Title = string.Format("Save {0} Entry", Model.Mode_Pay_Rec);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">@string.Format("Save {0} Entry", Model.Mode_Pay_Rec)</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Save", "TransactionEntry", FormMethod.Post, new { id = "frmTransactionEntry", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.Ent_No)
                    @Html.HiddenFor(model => model.Mode_Pay_Rec)
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Transaction Date<span class="spanError">*</span></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Ddate, new { @placeholder = "Transaction Date", @class = "form-control" })
                        </div>
                        <div class="col-md-3" style="vertical-align: middle; margin-left: -20px; margin-top: 5px;">
                            <span>@DateTime.Now.DayOfWeek</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Credit 3rom<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            <select id="From_Account" name="From_Account" class="form-control">
                                @foreach (var supplier in Model.FromSupplierList)
                                {
                                    if (supplier.Sup_id == Model.From_Account)
                                    {
                                    <option selected value="@supplier.Sup_id">@supplier.NameiS</option>
                                    }
                                    else
                                    {
                                    <option value="@supplier.Sup_id">@supplier.NameiS</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Credit / Debit<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            <select id="Rec_Pay" name="Rec_Pay" class="form-control">
                                <option value="PAYMENT">PAYMENT</option>
                                <option value="RECEIPT">RECEIPT</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Credit To<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            <select id="To_Account" name="To_Account" class="form-control">
                                @foreach (var supplier in Model.ToSupplierList)
                                {
                                    if (supplier.Sup_id == Model.To_Account)
                                    {
                                    <option selected value="@supplier.Sup_id">@supplier.NameiS</option>
                                    }
                                    else
                                    {
                                    <option value="@supplier.Sup_id">@supplier.NameiS</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Amount<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Ammount, new { @placeholder = "Amount", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Description</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Disp, new { @placeholder = "Description", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Cheque No</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.ChqNo, new { @placeholder = "Cheque No", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Bank</label>
                        <div class="col-md-5">
                            <select id="ChqDrawn" name="ChqDrawn" class="form-control">
                                <option value="RANDER CO OP BANK">RANDER CO OP BANK</option>
                                <option value="PANJAB NATIONAL BANK">PANJAB NATIONAL BANK</option>
                                <option value="STATE BANK OF INDIA">STATE BANK OF INDIA</option>
                                <option value="BANK OF BARODA">BANK OF BARODA</option>
                                <option value="KARUR VESHYA BANK">KARUR VESHYA BANK</option>
                                <option value="SURAT NAGRIK CO OP BANK">SURAT NAGRIK CO OP BANK</option>
                                <option value="HDFC BANK">HDFC BANK</option>
                                <option value="ICICI BANK">ICICI BANK</option>
                                <option value="UNION BANK">UNION BANK</option>
                                <option value="ALLAHBAD BANK">ALLAHBAD BANK</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            <button class="btn btn-sm btn-success" type="submit">Submit</button>
                            <button class="btn btn-sm btn-success" type="submit" onclick="document.location.href = '@Url.Action("ListAll", "TransactionEntry", new { type = Model.Mode_Pay_Rec })'">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>

