@model ProjectManagement.Web.TrialReportModel
@using Telerik.Web.Mvc.UI;
@using ProjectManagement.Domain;
@{
    ViewBag.Title = "Trial Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td, th {
        padding: 3px !important;
    }
</style>
<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Trial Book</h4>
            </div>
            <div class="panel-body form-horizontal">
                <input value="Print" type="button" class="btn btn-sm btn-success" onclick="PrintObject();" />
                <div class="printable col-md-12">
                    <div class="form-group" style="text-align: center; padding-bottom: 0px">
                        <div class="col-md-12">
                            <span style="font-weight: bold; font-size: x-large;">TRIAL BALANCE</span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0px; padding-left: 0px; text-align: left;">
                        <div class="col-md-12">
                            <span style="font-weight: bold; font-size: medium;">@ProjectManagement.Domain.ApplicationMember.SelectedProjectDetails.Catalog</span>
                        </div>
                    </div>
                    <div class="form-group" style="padding: 0px">
                        <div class="col-md-6" style="padding-right: 0px">
                            @if (Model.CreditList != null)
                            {
                                <table border="1" style="width: 100%; font-size: 12px" cellpading="0" cellspacing="0">

                                    <tr style="font-weight: bold">
                                        <td colspan="3">Credit</td>
                                    </tr>
                                    @foreach (var creditGroup in Model.CreditList.GroupBy(r => r.GroupId).ToList())
                                    {
                                        var groupDetails = Model.CreditList.Where(r => r.GroupId == creditGroup.Key).FirstOrDefault();
                                        <tr style="font-weight: bold">
                                            <td colspan="2">@Model.CreditList.Where(r => r.GroupId == creditGroup.Key).Sum(c => c.CrediAmount).ToString("0.00")</td>
                                            <td>@groupDetails.GroupSupplierName</td>
                                        </tr>
                                        foreach (var credit in Model.CreditList.Where(g => g.GroupId == groupDetails.GroupId).ToList())
                                        {
                                        <tr>
                                            <td colspan="2" style="text-align: right">@credit.CrediAmount.ToString("0.00")</td>
                                            <td>@credit.NameiS</td>
                                        </tr>
                                        }
                                    }
                                    <tr style="font-weight: bold; font-size: large">
                                        <td colspan="3">@Model.CreditList.Sum(c => c.CrediAmount).ToString("0.00")</td>
                                    </tr>
                                </table>
                            }
                        </div>
                        <div class="col-md-6" style="padding-left: 0px">
                            @if (Model.CreditList != null)
                            {
                                <table border="1" style="width: 100%; font-size: 12px" cellpading="0" cellspacing="0">
                                    <tr style="font-weight: bold">
                                        <td colspan="3">Debit</td>
                                    </tr>
                                    @foreach (var creditGroup in Model.DebitList.GroupBy(r => r.GroupId).ToList())
                                    {
                                        var groupDetails = Model.DebitList.Where(r => r.GroupId == creditGroup.Key).FirstOrDefault();
                                        <tr style="font-weight: bold">
                                            <td colspan="2">@Model.DebitList.Where(r => r.GroupId == creditGroup.Key).Sum(c => c.CrediAmount).ToString("0.00")</td>
                                            <td>@groupDetails.GroupSupplierName</td>
                                        </tr>
                                        foreach (var credit in Model.DebitList.Where(g => g.GroupId == groupDetails.GroupId).ToList())
                                        {
                                        <tr>
                                            <td colspan="2" style="text-align: right">@credit.CrediAmount.ToString("0.00")</td>
                                            <td>@credit.NameiS</td>
                                        </tr>
                                        }
                                    }
                                    <tr style="font-weight: bold; font-size: large">
                                        <td colspan="3">@Model.DebitList.Sum(c => c.CrediAmount).ToString("0.00")</td>
                                    </tr>
                                </table>
                            }
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end panel -->
</div>
<script src="~/Content/Script/Report.js"></script>
<script type="text/javascript">
    ActivateSelectedMenu('menuReport');
</script>
