@using Telerik.Web.Mvc.UI;
@using ProjectManagement.Web;
@using ProjectManagement.Domain;
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Mirrored from seantheme.com/color-admin-v1.5/admin/html/index.html by HTTrack Website Copier/3.x [XR&CO'2010], Tue, 03 Feb 2015 10:02:29 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Project Management | Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    @(Html.Telerik().StyleSheetRegistrar()
                              .DefaultGroup(group => group
                                  .Add("telerik.common.css")
                                  .Add("telerik.office2010silver.min.css")
                                  .Add("telerik.rtl.css")
                                  .Compress(true).CacheDurationInDays(10000))
    )
    @*<script src="~/Content/plugins/jquery/jquery-1.9.1.min.js"></script>*@
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    @Html.Telerik().ScriptRegistrar().jQuery(false)
    <script src="~/Content/Script/CommonFunction.js"></script>
    <link href="~/Content/Style/CommonStyle.css" rel="stylesheet" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/Content/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->

    <script src="~/Content/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/Content/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Content/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
</head>
<body>
    @Html.Hidden("webUrl", CommonFunctions.WebUrlPrefix)
    <div id="page-container" class="page-sidebar-fixed page-header-fixed">
        <div id="header" class="header navbar navbar-default navbar-fixed-top" style="border-bottom: 2px solid rgb(0, 172, 172) !important;">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a href="~/Profile/Dashboard" class="navbar-brand">
                        <img src="~/Content/img/home.png" width="40" style="float: left; padding-right: 10px;" />@*<span class="navbar-logo"></span>*@Management
                    </a>

                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Content/img/member.png" />
                            <span class="hidden-xs">@ApplicationMember.LoggedUserName</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li>@Html.ActionLink("Profile", "Detail", "Profile")</li>
                            <li>@Html.ActionLink("Change Password", "ChangePassword", "Profile")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="sidebar" class="sidebar">
            <div data-scrollbar="true" data-height="100%">
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;">
                                <img src="~/Content/img/member.png" alt="" />
                            </a>
                        </div>
                        <div class="info">
                            @ApplicationMember.LoggedUserName
                            <small>@ApplicationMember.LoggedMemberType</small>
                        </div>
                    </li>
                </ul>
                <ul id="menu" class="nav">
                    <li class="nav-header">Navigation</li>
                    <li id="menuProject" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-university"></i>
                            <span>Project</span>
                        </a>
                        <ul class="sub-menu">
                            @if (CommonFunctions.IsMemberHavePermission("Project", ApplicationEnum.PageType.Insert))
                            {
                                <li>
                                    <a href="@Url.Action("Save", "Project", new { id = 0 })">Add New</a>
                                </li>
                            }
                            @if (CommonFunctions.IsMemberHavePermission("Project", ApplicationEnum.PageType.ListAll))
                            {
                                <li>
                                    <a href="@Url.Action("ListAll", "Project")">List All</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li id="menuMember" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-user"></i>
                            <span>User</span>
                        </a>
                        <ul class="sub-menu">
                            @if (CommonFunctions.IsMemberHavePermission("Member", ApplicationEnum.PageType.Insert))
                            {
                                <li>
                                    <a href="@Url.Action("Save", "Member", new { id = 0 })">Add New</a>
                                </li>
                            }
                            @if (CommonFunctions.IsMemberHavePermission("Member", ApplicationEnum.PageType.ListAll))
                            {
                                <li>
                                    <a href="@Url.Action("ListAll", "Member")">List All</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li id="menuSupplier" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-users"></i>
                            <span>Party / Master</span>
                        </a>
                        <ul class="sub-menu">
                            @if (CommonFunctions.IsMemberHavePermission("Supplier", ApplicationEnum.PageType.Insert))
                            {
                                <li>
                                    <a href="@Url.Action("Save", "Supplier", new { id = "" })">Add New</a>
                                </li>
                            }
                            @if (CommonFunctions.IsMemberHavePermission("Supplier", ApplicationEnum.PageType.ListAll))
                            {
                                <li>
                                    <a href="@Url.Action("ListAll", "Supplier")">List All</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li id="menuMaterialMaster" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-gears"></i>
                            <span>Material Group</span>
                        </a>
                        <ul class="sub-menu">
                            @if (CommonFunctions.IsMemberHavePermission("MaterialGroup", ApplicationEnum.PageType.Insert))
                            {
                                <li>
                                    <a href="@Url.Action("Save", "MaterialGroup", new { id = "" })">Add New</a>
                                </li>
                            }
                            @if (CommonFunctions.IsMemberHavePermission("MaterialGroup", ApplicationEnum.PageType.ListAll))
                            {
                                <li>
                                    <a href="@Url.Action("ListAll", "MaterialGroup")">List All</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li id="menuMaterialSubGroup" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-gear"></i>
                            <span>Item Master</span>
                        </a>
                        <ul class="sub-menu">
                            @if (CommonFunctions.IsMemberHavePermission("MaterialSubGroup", ApplicationEnum.PageType.Insert))
                            {
                                <li>
                                    <a href="@Url.Action("Save", "MaterialSubGroup", new { id = "" })">Add New</a>
                                </li>
                            }
                            @if (CommonFunctions.IsMemberHavePermission("MaterialSubGroup", ApplicationEnum.PageType.ListAll))
                            {
                                <li>
                                    <a href="@Url.Action("ListAll", "MaterialSubGroup")">List All</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li id="menuMaterialEntry" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-plus"></i>
                            <span>Material Entry</span>
                        </a>
                        <ul class="sub-menu">
                            @if (CommonFunctions.IsMemberHavePermission("MaterialEntry", ApplicationEnum.PageType.Insert))
                            {
                                <li>
                                    <a href="@Url.Action("Save", "MaterialEntry", new { id = "" })">Add New</a>
                                </li>
                            }
                            @if (CommonFunctions.IsMemberHavePermission("MaterialEntry", ApplicationEnum.PageType.ListAll))
                            {
                                <li>
                                    <a href="@Url.Action("ListAll", "MaterialEntry")">List All</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li id="menuDocuments" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-file-image-o"></i>
                            <span>Document</span>
                        </a>
                        <ul class="sub-menu">
                            @if (CommonFunctions.IsMemberHavePermission("Documents", ApplicationEnum.PageType.Insert))
                            {
                                <li>
                                    <a href="@Url.Action("Save", "Documents")">Add New </a>
                                </li>
                            }
                            @if (CommonFunctions.IsMemberHavePermission("Documents", ApplicationEnum.PageType.ListAll))
                            {
                                <li>
                                    <a href="@Url.Action("ListAll", "Documents")">List All</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li id="menuTrancation" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-arrows"></i>
                            <span>Trancation</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="">Cash Book</a>
                                <a href="">Bank Book</a>
                                <a href="">Contra Book</a>
                                <a href="">Journal</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menuReport" class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-file-text-o"></i>
                            <span>Report</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="">Cash Book</a>
                                <a href="">Bank Book</a>
                                <a href="">Contra</a>
                                <a href="">Journal</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar-bg"></div>
        <div id="content" class="content">
            @RenderBody()
        </div>
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    </div>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>

</body>

</html>

<script type="text/javascript">
    HandleMenuHeader('menuMember');
    HandleMenuHeader('menuSupplier');
    HandleMenuHeader('menuMaterialMaster');
    HandleMenuHeader('menuMaterialSubGroup');
    HandleMenuHeader('menuMaterialEntry');
    HandleMenuHeader('menuTrancation');
    HandleMenuHeader('menuReport');
    HandleMenuHeader('menuProject');
    HandleMenuHeader('menuDocuments');
    function HandleMenuHeader(menuId) {
        var subMenuCount = $($("#" + menuId).find("ul").find('li')).length;
        if (subMenuCount == 0) {
            $("#" + menuId).addClass('hide');
        }
        else {
            $("#" + menuId).addClass('show');
        }
    }
</script>
