@using Telerik.Web.Mvc.UI;
@using ProjectManagement.Web;
@using ProjectManagement.Domain;    
@{
    ViewBag.Title = "Account";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/Content/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="~/Content/Style/CommonStyle.css" rel="stylesheet" />
    @(Html.Telerik().StyleSheetRegistrar()
                              .DefaultGroup(group => group
                                  .Add("telerik.common.css")
                                  .Add("telerik.office2010silver.min.css")
                                  .Add("telerik.rtl.css")
                                  .Compress(true).CacheDurationInDays(10000))
    )
    @*<script src="~/Content/plugins/jquery/jquery-1.9.1.min.js"></script>*@
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    @Html.Telerik().ScriptRegistrar().jQuery(false)
    <script src="~/Content/Script/CommonFunction.js"></script>
    <link href="~/Content/Style/CommonStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    @Html.Hidden("webUrl", CommonFunctions.WebUrlPrefix)
    <div class="login-cover">
        <div class="login-cover-image">
            <img src="~/Content/img/login-bg/bg-1.jpg" data-id="login-cover-image" alt="" />
        </div>
        <div class="login-cover-bg"></div>
    </div>
    <div id="page-container" class="fade">
        <div class="login login-v2" data-pageload-addclass="animated flipInX">
            @RenderBody()
        </div>
    </div>
   
    <script src="~/Content/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/Content/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Content/js/login-v2.demo.min.js"></script>
    <script src="~/Content/js/apps.min.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
            LoginV2.init();
        });
        function ShowProcess() {
            $('#page-loader').removeClass('fade in hide');

        }
        function HideProcess() {
            $('#page-loader').addClass('fade in hide');
        }
        HideProcess();
    </script>
</body>
</html>
