@using Telerik.Web.Mvc.UI;
@model ProjectManagement.Domain.QtyMaterialDTO
@{
    ViewBag.Title = "Save Material Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Save Material Entry</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Save", "MaterialEntry", FormMethod.Post, new { id = "frmMaterialEntry", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.Reg_id)
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.DdateString, new { @placeholder = "Date", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Supplier</label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.Sup_id, new MultiSelectList(Model.SupplierList, "Sup_id", "NameiS"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Challan No<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Challan_No, new { @placeholder = "Challan No", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Material</label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.Mat_id, new MultiSelectList(Model.MaterialList, "Mat_id", "Mat_Name"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Unit<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            <select id="Unit" name="Unit" class="form-control">
                                @foreach (var unitType in Model.UnitTypeList)
                                {
                                    if (string.Compare(unitType, Model.Unit, StringComparison.CurrentCultureIgnoreCase) == 0)
                                    {
                                    <option selected value="@unitType">@unitType</option>
                                    }
                                    else
                                    {
                                    <option value="@unitType">@unitType</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Quantity</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Qty, new { @placeholder = "Quantity", @class = "form-control", @onkeypress = "return OnKeyPress(event,this)" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Rate</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Rate, new { @placeholder = "Rate", @class = "form-control", @onkeypress = "return OnKeyPress(event,this)" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Amount</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Ammount, new { @placeholder = "Amount", @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            <button class="btn btn-sm btn-success" type="submit">Submit</button>
                            <button class="btn btn-sm btn-success" type="submit" onclick="document.location.href = '@Url.Action("ListAll", "MaterialEntry")'">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>
<script src="~/Content/Script/MaterialEntry.js"></script>
<script type="text/javascript">
    ActivateSelectedMenu('menuMaterialEntry');
</script>
