@using Telerik.Web.Mvc.UI;
@model ProjectManagement.Domain.tblMemberDTO
@{
    ViewBag.Title = "Save Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @using (Html.BeginForm("Save", "Member", FormMethod.Post, new { id = "frmMember", @class = "form-horizontal" }))
    {
        <div class="col-md-12 ui-sortable">
            <!-- begin panel -->
            <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Member Details</h4>
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(model => model.MemberId)
                    @Html.HiddenFor(model => model.ProjectSelectionString)
                    @Html.HiddenFor(model => model.EntityPermissionSelectionString)
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">First Name<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "First name", @class = "form-control"  , autofocus="autofocus"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Last Name<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.LastName, new { @placeholder = "Last Name", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Address<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Address, new { @placeholder = "Address", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Email Address<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.EmailAddress, new { @placeholder = "Email Address", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mobile No<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.MobileNo, new { @placeholder = "Mobile No", @class = "form-control" })
                        </div>
                    </div>
                    @if (Model.MemberId == 0)
                    {
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password<span class="spanError">*</span></label>
                            <div class="col-md-5">
                                @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", @class = "form-control" })
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.Password)
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12 ui-sortable">
            <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Project Selection</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Projects<span class="spanError">*</span></label>
                        <div id="divProjects" class="col-md-5">
                            @foreach (var projectItem in Model.ProjectList)
                            {
                                <div class="checkbox">
                                    <label>
                                        @if (Model.SelectedProject.Contains(projectItem.ProjectId))
                                        {
                                            <input checked="checked" type="checkbox" value="@projectItem.ProjectId">
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="@projectItem.ProjectId"> 
                                        }
                                        @projectItem.Title
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 ui-sortable">
            <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Permission Selection</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Projects<span class="spanError">*</span></label>
                        <div id="divEntityListPermission" class="col-md-9" style="overflow: auto; height: 400px">
                            @foreach (var entityItem in Model.EntityList)
                            {
                                <h5 class="m--20" style="font-weight: bold">@entityItem.EntityName</h5>
                                var entityPermissionDetails = Model.MemberPermissionList.Where(p => p.EnitytId == entityItem.EntityId).FirstOrDefault();
                                <div id="EntityObject" style="padding-left: 20px">
                                    <div class="checkbox">
                                        <label>
                                            @if (entityPermissionDetails != null && entityPermissionDetails.CanListAll)
                                            {
                                                <input id="Listing" checked="checked" type="checkbox" value="@entityItem.EntityId">
                                            }
                                            else
                                            {
                                                <input id="Listing" type="checkbox" value="@entityItem.EntityId">
                                            }
                                            Listing
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @if (entityPermissionDetails != null && entityPermissionDetails.CanInsert)
                                            {
                                                <input id="Insert" checked="checked" type="checkbox" value="@entityItem.EntityId">
                                            }
                                            else
                                            {
                                                <input id="Insert" type="checkbox" value="@entityItem.EntityId">
                                            }
                                            Insert
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @if (entityPermissionDetails != null && entityPermissionDetails.CanEdit)
                                            {
                                                <input id="Edit" checked="checked" type="checkbox"  value="@entityItem.EntityId">
                                            }
                                            else
                                            {
                                                <input id="Edit" type="checkbox"  value="@entityItem.EntityId">
                                            }
                                            Edit
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @if (entityPermissionDetails != null && entityPermissionDetails.CanDelete)
                                            {
                                                <input id="Delete" checked="checked" type="checkbox"  value="@entityItem.EntityId">
                                            }
                                            else
                                            {
                                                <input id="Delete" type="checkbox"  value="@entityItem.EntityId">
                                            }
                                            Delete
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            <button class="btn btn-sm btn-success" type="submit" onclick="return OnMemberFormSubmit()">Submit</button>
                            <button class="btn btn-sm btn-success" type="submit" onclick="document.location.href = '@Url.Action("ListAll", "Member")'">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Content/Script/Member.js"></script>
<script type="text/javascript">
    ActivateSelectedMenu('menuMember');
</script>
